* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f3f3f3;
    line-height: 1.6;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}


#topo {
    background: linear-gradient(90deg, #270000, #5a1421, #270000);
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 20px #d4af7f6b;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #d4af7f;
}


#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;

}

.nav a:hover {
    color: #d4af7f;
}

#destaque {
    background: linear-gradient(90deg, #490000, #8d1f34, #490000);
    color: #fff;
    padding: 5rem;
    text-align: center;
}

#destaque h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

#destaque p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.btn-destaque {
    background-color: #d4af7f;
    color: #490000;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.btn-destaque:hover {
    background-color: #a17f51;
}


#catalogo {
    padding: 4rem 0;
}

#catalogo h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #8d1f34;
    font-weight: 750;
    margin-bottom: 3rem;
}

